/* Убираем все стандартные отступы у браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    /* Черный фон на всякий случай */
    background-color: #000;
}

.hero {
    position: relative;
    height: 100vh; /* Фолбэк */
    height: 100dvh; /* Для мобильных */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* Затемнение видео */
.hero::after {
    content: '';
    position: fixed; /* Тоже фиксируем, чтобы оно покрыло видео */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; /* Лежит поверх видео (-2), но под контентом (1) */
}

/* ВИДЕО: НОВЫЙ ПОДХОД */
.hero-video {
    position: fixed; /* Фиксируем относительно ОКНА БРАУЗЕРА, игнорируя всё */
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    
    /* Растягиваем чуть больше экрана, чтобы точно перекрыть края */
    width: 110vw;
    height: 110vh;
    left: -5vw;
    top: -5vh;
    
    object-fit: cover;
    z-index: -2; /* Самый нижний слой */
}

.hero-content {
    padding: 0 20px;
    position: relative;
    z-index: 1;
    
    /* Чтобы текст не залез под челку, добавляем отступ только ему */
    padding-top: env(safe-area-inset-top);
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero-content p {
    font-size: 28px;
    font-weight: 400;
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #24A1DE;
    border-radius: 50px;
    padding: 20px 40px; 
    margin-top: 80px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background-color: #2386b6;
}

.hero-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
    /* Безопасный отступ снизу */
    padding-bottom: env(safe-area-inset-bottom);
}

.hero-footer p {
    font-size: 18px;
    font-weight: 400;
}

/* ====================================================== */
/* ===                  Адаптация                      === */
/* ====================================================== */

@media (max-width: 1024px) {
    h1 { font-size: 40px; }
    .hero-content p { font-size: 22px; max-width: 650px; }
    .button { padding: 30px 70px; }
}

@media (max-width: 768px) {
    h1 { font-size: 26px; }
    .hero-content p { font-size: 18px; margin-top: 30px; }
    .button {
        font-size: 16px;
        margin-top: 60px;
        max-width: 335px; 
        width: 100%;      
        padding: 20px;
    }
    .hero-footer p { font-size: 16px; }
}